@import "tailwindcss";

@layer base {
  body {
    @apply text-gray-900 bg-gray-50 antialiased;
  }
}

/* Custom scrollbar for sidebar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #e5e7eb;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #d1d5db;
}
